

#edit2 textarea{
	width:800px;
	height:400px;
}
#createRideFeedInfo,#createRider_Trip,#trip_capacity,#createRidership,#board_alight{
	color:black;
}
#createRideFeedInfo strong{
	color:red;
}
#createRider_Trip strong{
	color:red;
}
#trip_capacity strong{
	color:red;
}
#createRidership strong{
	color:red;
}
#board_alight strong{
	color:red;
}

#loader{
	width:500;
	height:500;
}

#editarea{
	border: 5px solid black;
	position:relative;
	width:auto;
	height:auto;
}
#edit2{
	position:relative;
	width:95%;
	height:500px;
}
#filename{
	margin:15px;
}

#fileChecklist{
	color:black;
	margin:20px;
}
#create_table{
	color:black;
}


#uploaded-files{
	color:black;
}
.hidden{
	display:none;
}