<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.load.UploadServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateChecklist</servlet-name>
    <servlet-class>com.load.UpdateChecklist</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateChecklist</servlet-name>
    <url-pattern>/UpdateChecklist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClearFiles</servlet-name>
    <servlet-class>com.load.ClearFiles</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearFiles</servlet-name>
    <url-pattern>/ClearFiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateEdit</servlet-name>
    <servlet-class>com.load.UpdateEdit</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEdit</servlet-name>
    <url-pattern>/UpdateEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetFile</servlet-name>
    <servlet-class>com.load.GetFile</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFile</servlet-name>
    <url-pattern>/GetFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveFile</servlet-name>
    <servlet-class>com.load.SaveFile</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveFile</servlet-name>
    <url-pattern>/SaveFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExportZip</servlet-name>
    <servlet-class>com.load.ExportZip</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportZip</servlet-name>
    <url-pattern>/ExportZip</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadCSV</servlet-name>
    <servlet-class>com.load.LoadCSV</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadCSV</servlet-name>
    <url-pattern>/LoadCSV</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckFile</servlet-name>
    <servlet-class>com.load.CheckFile</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckFile</servlet-name>
    <url-pattern>/CheckFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GenerateReport</servlet-name>
    <servlet-class>com.report.GenerateReport</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateReport</servlet-name>
    <url-pattern>/GenerateReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loadFeedIntoDB</servlet-name>
    <servlet-class>com.load.loadFeedIntoDB</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadFeedIntoDB</servlet-name>
    <url-pattern>/loadFeedIntoDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetReportData</servlet-name>
    <servlet-class>com.report.GetReportData</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReportData</servlet-name>
    <url-pattern>/GetReportData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetReportDataPerformance</servlet-name>
    <servlet-class>com.report.GetReportDataPerformance</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReportDataPerformance</servlet-name>
    <url-pattern>/GetReportDataPerformance</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>